<app-card titulo="1º" cor="#3D4D63">
  <app-first-component></app-first-component>
</app-card>

<app-card titulo="2º" cor="#B2E7E8">
  <app-second-component></app-second-component>
</app-card>

<app-card titulo="3º" cor="#BFB9AA">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="4º" cor="#F2D096">
  <app-list-render></app-list-render>
</app-card>

<app-card titulo="5º" cor="#ED8975">
  <app-personalized-component nome="Maria" sobrenome="Souza"></app-personalized-component>
  <app-personalized-component nome="Joaquim" sobrenome="Silva"></app-personalized-component>
</app-card>

<app-card titulo="7º" cor="#A2AD91">
  <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="8º" cor="#3A2D32">
  <app-exemplo-servico></app-exemplo-servico>
</app-card>
